<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <title>MI Borders</title>
    <link rel="stylesheet" type="text/css"
	href="{{ STATIC_URL }}css/view_map.css" />
    <script type="text/javascript" src="{{ STATIC_URL }}js/OpenLayers.js">
	</script>
    <script type="text/javascript"
	src="{{ STATIC_URL }}js/jquery-1.6.2.js">
    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/map.js"></script>
</head>

<body>
    <div id="map"></div>
</body>
</html>
